transports/axis/src/main/java/com/regaltec/asip/transport/soap/cxf/ida40/AsipService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ida40="http://www.regaltec.com.cn/ida40" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AsipService" targetNamespace="http://www.regaltec.com.cn/ida40">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.regaltec.com.cn/ida40">
            <xsd:element name="call" type="ida40:call" />
            <xsd:element name="callResponse" type="ida40:callResponse" />
            <xsd:complexType name="call">
                <xsd:sequence>
                    <xsd:element name="serviceName" type="xsd:string" />
                    <xsd:element name="serviceClass" type="xsd:string" />
                    <xsd:element name="parameterXML" type="xsd:string" />
                    <xsd:element name="contextName" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="callResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="callRequest">
        <wsdl:part element="ida40:call" name="parameters" />
    </wsdl:message>
    <wsdl:message name="callResponse">
        <wsdl:part element="ida40:callResponse" name="parameters" />
    </wsdl:message>
    <wsdl:portType name="AsipServicePort">
        <wsdl:operation name="call">
            <wsdl:input message="ida40:callRequest" />
            <wsdl:output message="ida40:callResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AsipServiceSOAP" type="ida40:AsipServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="call">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AsipService">
        <wsdl:port binding="ida40:AsipServiceSOAP" name="AsipServiceSOAP">
            <soap:address location="http://132.228.169.145/AsipService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
